body {
    font-family: Roboto, Arial;
    
    margin: 0;
}

.intro {
    background-image:  url("/images/background-img.jpg");
    
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
}

