.services {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), lightblue 90%);
    padding-top: 80px;
    padding-bottom: 120px;
}

.service-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
    
}

.webdesign, .webdevelopment, .uiux-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.service-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.service-text {
    color: white;
}

.service-text:hover {
    color: lightblue;
}

@media (max-width: 600px) {
    .service-grid-container {
        grid-template-columns: 1fr;
    }
    
    


}
